@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100svh;
    background-image: url(img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.card{
    padding: 1rem;
    height: 400px;
    width: 400px;
    flex: 0 0 auto;
    background:transparent;
    border:none;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: #fff;
    border-radius: 10px;
}
@media only screen and (max-width:400px) {
    .card{
        height: 340px;
        width: 320px;
        padding: 0;
    }
    .card form .form .password_confirm {
        gap: 3px;
    }
    .card form .form .password_confirm .confirm_password{
        width: 60%;
    }
}

.card form{
    height: 100%;
    width: 100%;
}
.card .form{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
input{
    background: transparent;
    font-size: 16px;
    color: #fff;
    font-weight: 300;
    border: 2px solid rgba(255,255,255,1);
    outline: none;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    padding: 0 15px 0 10px;
}
input::placeholder{
    color: #fff ;
    font-weight: 400;
}
.card .form .name{
    display: flex;
    justify-content: space-between;
}
.card .form .name div{

    height: 3rem;
    width: 47.5%;
}
.card form .form .email_age_gender{
    display: flex;
    justify-content: space-between;
}
.card form .form .email_age_gender .email{
    height: 3rem;
    width: 47.5%;
}
.card form .form .email_age_gender .age_gender{
    display:flex;
    justify-content: space-evenly;
    width: 47.5%;

}
.card form .form .email_age_gender .age_gender .age{
    height: 3rem;
    width: 42.5%;
}
.card form .form .email_age_gender .age_gender .gender select{
    outline: none;
    border: 2px solid rgba(255,255,255,1);
    height: 3rem;
    border-radius: 18px;
    padding-left: 10px;
    background-color: transparent;
    color: #fff;
    font-weight: 400;
}
.card form .form .email_age_gender .age_gender .gender select option{
    outline: none;
    border: 2px solid rgba(255,255,255,1);
    color: #000;
}
/* password */
.card form .form .password_confirm{
    display: flex;
    justify-content: space-between;
    height: 3rem;
}
.card form .form .password_confirm .password,.confirm_password{
    width: 47.5%;
}
.card form .form .terms{
    display: flex;
    align-items: center;
    gap: 0.2rem;
}
.card form .form .terms input{
    height: 1rem;
    width: 5%;
    accent-color: #fff;
}
.card form .form .sign_up{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
}
.card form .form .sign_up input{
    background-color: #fff;
    color: #000;
    font-weight: 700;
    box-shadow:0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
.card form .form .sign_up input{
    width: 85%;
}
.card form .form .already{
    display: flex;
    justify-content: center;
}
.card form .form .already span a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}
.card form .form .already span a:hover{
    text-decoration: underline;
}
